{% load staticfiles %}
{% load static from staticfiles %}
{% load bootstrap %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/img/favicon.png">

    <title>hackIIITD</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/main.css" %}"rel="stylesheet">

    <!-- Fonts from Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
    

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><b>hackIIITD</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="navbar-brand" href="http://esya.iiitd.edu.in">ESYA '15</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<!--
  
    Welcome fellow hacker!

    Byld, the software development club of IIIT-Delhi shouts out to all the designers and developers out 
    there, who can't wait to bring their next app idea to life.

    We at Byld, invite you to hackIIITD at Esya'15, to work over 16 sleepless hours with one great idea and a team of tireless creative minds. 

    Spend the night building an app that stands out from the rest, while we keep you fueled with food and lots of 
    coffee!

    As much as we would love as many people to come and hack away, we can accomodate only a fixed number of 
    teams. In order to hack at hackIIITD, you need to find a key, which shall be given to you at the end of 
    this puzzle, which comprises of three trivial problems.

    Cash prizes worth Rs.70,000 | Total prizes worth 4.5 L | Giveaways for each participant
    
    Hope to see you on 21st :D

	119 119 119 046 105 110 046 104 097 099 107 105 105 105 116 100 046 105 110 047 104 101 108 108 111 119 111 114 108 100    
-->

	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1>Found a hash?<br>Enter below to reserve your spot!</h1>
					<br><br>
					{% if left > 0 %}
					<form class="form-inline" role="form" method = "POST" action = "/">
						{% csrf_token %}
					  <div class="form-group">
					    <input class="form-control" id="hash" name = "hash" placeholder="Enter your hash">
					  </div>
					  <button type="submit" class="btn btn-warning btn-lg">Go ({{ left }} spots left)</button>
					</form>	

					{% else %}
					<h1>Sorry, all tickets have been sold!</h1>
					{% endif %}				
				</div><!-- /col-lg-6 -->
				<div class="col-lg-6">
					<img class="img-responsive" src="{% static "img/hack.jpg" %}" alt="">
				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	



	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Our Sponsors</h1>
				<h3>They make us awesome.</h3>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-2"></div>
			<div class="col-lg-2">
				<img src="{% static "img/spons/branch.png" %}" width="180" alt="">
			</div><!--/col-lg-4 -->
			<div class="col-lg-1"></div>
			<div class="col-lg-2">
				<img src="{% static "img/spons/cloudcherry.png" %}" width="180" alt="">
			</div><!--/col-lg-4 -->
			<div class="col-lg-1"></div>
			<div class="col-lg-2">
				<img src="{% static "img/spons/github.png" %}" width="180" alt="">
			</div><!--/col-lg-4 -->
		</div><!-- /row -->

		<div class="row mt centered">
			<div class="col-lg-2"></div>
			<div class="col-lg-2">
				<img src="{% static "img/spons/swig.png" %}" width="180" alt="">
			</div><!--/col-lg-4 -->
			<div class="col-lg-1"></div>
			<div class="col-lg-2">
				<img src="{% static "img/spons/control.png" %}" width="180" alt="">
			</div><!--/col-lg-4 -->
			<div class="col-lg-1"></div>
			<div class="col-lg-2">
				<img src="{% static "img/spons/CtrlS.png" %}" width="180" alt="">
			</div><!--/col-lg-4 -->
		</div><!-- /row -->

		<div class="row mt centered">
			<div class="col-lg-2"></div>
			<div class="col-lg-2">
				<img src="{% static "img/spons/cloudboost.png" %}" width="180" alt="">
			</div><!--/col-lg-4 -->
			<div class="col-lg-1"></div>
			<div class="col-lg-2">
				<img src="{% static "img/spons/DO.png" %}" width="180" alt="">
			</div><!--/col-lg-4 -->
			<div class="col-lg-1"></div>
			<div class="col-lg-2">
				<img src="{% static "img/spons/estimote.png" %}" width="180" alt="">
			</div><!--/col-lg-4 -->
		</div><!-- /row -->


	</div><!-- /container -->
	
	
	
	
	<div class="container">
		<hr>
		<p class="centered">With<i class="fa fa-heart"></i>from Byld</p>
	</div><!-- /container -->
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript">
    	var html = "{{message}}";
    	if (html != "")
    		alert(html);
    </script>
  </body>
</html>
